.map {
    width: 100%;
    height: 80vh;
}

.travel_card{
    position: absolute;
    top: 5rem;
    left: 50%;  
    transform: translate(-50%, 0);
}

.my_travel_container_top-destination {
float: left;
}

.my_travel_container_top-close {
    float: right;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image: url("../../../assets/images/remove.png");
    background-size: cover;
}
